.contents.row
  %h2 ついったーに参加しましょう
  .devise-flash
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :nickname, "ニックネーム"
      %br/
      = f.text_field :nickname, autofocus: true
    .field
      = f.label :username, "アカウント名"
      %br/
      = f.text_field :username, autofocus: true
    .field
      = f.label :email, "メール"
      %br/
      = f.email_field :email
    .field
      = f.label :password, "パスワード"
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation, "パスワード確認"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      = f.label :visibility, "アカウントを非公開にする"
      = f.check_box :visibility,{},checked_value = "hidden",unchecked_value = "visible"
    .actions
      = f.submit "アカウントを作成する"
