.contents.row
  %h2 ついったーに参加しましょう
  .devise-flash
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :nickname, "ニックネーム"
      %br/
      = f.text_field :nickname, autofocus: true, pattern:"[ぁ-んァ-ン一-龥a-zA-Z0-9]{4,20}", title:"半角英数字,「-」「_」のみ入力可能です。\n文字数は4~20文字です"
    .field
      = f.label :username, "アカウント名"
      %br/
      = f.text_field :username, autofocus: true, pattern:"[a-zA-Z0-9,_,-]{4,20}", title:"半角英数字,「-」「_」のみ入力可能です。\n文字数は4~20文字です"
    .field
      = f.label :email, "メール"
      %br/
      = f.email_field :email
    .field
      = f.label :password, "パスワード"
      %br/
      = f.password_field :password, autocomplete: "off", pattern:"[a-zA-Z0-9]{4,8}", title: "半角英数字のみ入力可能です。\n文字数は4~8文字です"
    .field
      = f.label :password_confirmation, "パスワード確認"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", pattern:"[a-zA-Z0-9]{4,8}", title:"半角英数字のみ入力可能です。\n文字数は4~8文字です"
    .field
      = f.label :visibility, "アカウントを非公開にする"
      = f.check_box :visibility,{},checked_value = "hidden",unchecked_value = "visible"
    .actions
      = f.submit "アカウントを作成する"
