.tweet
  .tweet__account-name
    = link_to user_path(tweet.user) do
      = tweet.user.nickname
  .tweet__body
    = tweet.body
  .tweet__time
    = tweet.created_at
  - if tweet.user == current_user
    .tweet__delete-button
      = link_to tweet_path(tweet), method: :delete do
        %i.fa.fa-trash-o
