.main
  .main-left
    - if current_user
      いまなにしてる？
      - flash.each do |key, value|
        = content_tag(:div, value, class: "#{key} tweet-alert")
      = form_for(@tweet) do |f|
        = f.text_area :body, class: "tweet-form", size: "65×10", required: true
        = f.submit "ツイートする", class: "tweet-submit"
    .tweet-home
      ホーム
      .tweets
        = render @tweets
        = paginate @tweets
  - if current_user
    .main-right
      = render partial: "layouts/profile", locals: {user: current_user}



