.main
  .main-left
    - if current_user
      いまなにしてる？
      %form
      = form_for(@tweet) do |f|
        = f.text_field :body, class: "tweet-form", cols:"30",  rows:"10"
        = f.submit "ツイートする"
    .tweet-home
      ホーム
      .tweets
        = render @tweets
        = paginate @tweets
  - if current_user
    .main-right
      = render partial: "layouts/profile", locals: {user: current_user}



