.main
  .main-left
    = link_to "トップへ戻る", root_path
    .tweet-home
      #{@user.nickname}さんのツイート
      .tweets
        - if @user.hidden? && !(current_user.following?(@user))
          このアカウントは非公開です
        - else
          = render partial: "users/tweet",collection: @tweets
          = paginate @tweets
  .main-right
    = render partial: "layouts/profile", locals: {user: @user}
